# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
npm-debug.log

# Env files (DO NOT PUSH TO GITHUB)
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/
*.log
*.pid
*.seed
*.pid.lock

# OS
.DS_Store
Thumbs.db

# Builds
dist/
build/
.cache/

# IDEs
.vscode/
.idea/

# Temporary
*.tmp
